.banner {
  background-position: center;
  padding: 165px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-top: 230px;
  opacity: 0;
}

.banner2 {
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 150px 0;
}

.banner2 h1 {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
}

.banner3 {
 height: 115vh;
 width: 100vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
   background-position: center;
  padding: 165px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  width: 168%;
  height: 500px;
  }
  .banner2 {
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 80px 0;
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner {
      background-position: center;
  padding: 165px 0;
  background-repeat: no-repeat;
  background-size: cover;  }
}


@media (min-width: 100px) and (max-width: 575px) {
  .banner3 {
  height: 152vh;
 width: 151vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner3 {
 height: 115vh;
 width: 100vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;  }
}

@media (min-width: 768px) {
.banner3 {
 height: 115vh;
 width: 100vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;
  }
.banner2 {
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 88px 0;
}
}

@media (min-width: 992px) {
.banner3 {
 height: 115vh;
 width: 100vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.banner3 {
 height: 135vh;
 width: 100vw;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #b2dffb;
  }
}
