.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 65%;
  left: 43%;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 59%;
  left: 43%;
}

.fas {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  padding-top: 18px;
  padding-bottom: 18px;
  top: 0px;
  left: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 67%;
  left: 47%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 59%;
  left: 43%; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
.btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 49%;
  left: 43%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 59%;
  left: 43%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.btn-cocktail {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(red);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: absolute;
  top: 75%;
  left: 43%;
  }
}
